.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}


.input-text {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    resize: none;
    overflow-x: hidden;
}

.input-text:active,
.input-text:focus {
    outline: none;
    border: 1px solid #7e7e7e;
}

.input-text::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: #7e7e7e;
}

.invalid {
    border: 1px solid #ff8080;
}
